.callout.gitlab-trial
  %h2
    Explore all the features of GitLab during Commit
  = link_to "Get started", "/free-trial/", class: "btn cta-btn orange u-margin-top-xs"

-# override global styles
:css
  body .gitlab-trial {
    background: none;
    padding-bottom: 70px;
  }
