:markdown

  ## Responsibilities

  - Process full-cycle accounts payable process including vendor and invoice management, approval and weekly disbursement activities.
  - Process expense reports, credit card account reconciliations, and payable side bank reconciliation.
  - Fulfill all duties, including journal entries, reconciliations, and other assigned tasks, in a timely manner to comply with the close calendar, - - checklists, and other due dates as assigned.
